.navbar-brand{
    color: #707070!important;
    font-size: 1.5em;
    font-weight: 500;
}

.nav-link{
    font-size: 1.2em;
    color: #707070!important;
}

.active .nav-link, .nav-link:hover{
    text-decoration: underline;
    color: #6c1cd7!important;
}