.home{
    overflow: hidden;
}

.home-hero-wave{
    position: relative;
    transform: scale(1.1,1) translate(0%,-50%);
    min-width: 500px;
    object-fit: cover;
    z-index: -2;
}

.home-features{
    position: relative;
    transform: scale(1.1,1) translate(1.1%,-18vw);
    text-align: center;
    background-image: url('../../images/home/features_wave.svg');
    background-color: white;
    background-repeat: no-repeat;
    height: 800px;
    object-fit: contain;
    z-index: 0;
}

.home-features .card{
    max-width: 250px;
    border: 1px solid #6c1cd7;
    border-radius: 25px;
}

.home-features .card-link{
    position: relative;
    color: #6c1cd7!important;
}